.header {
  background: var(--main-color2);
  box-shadow: 1px 1px 3px rgb(40, 59, 80);
}

.header > div {
  max-width: 1690px;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.loginAndJoin {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}

.loginAndJoin > a {
  text-align: center;
  width: 8.5rem;
  height: 4rem;
  padding: 1rem 0;
  background: none;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color2-0);
  flex-shrink: 0;
}

.loginAndJoin > a:hover,
.loginAndJoin > a:focus {
  border: 1px solid var(--main-color2-4);
  box-shadow: 2px 2px var(--main-color2-4);
}