.ButtonLarge {
  width: 400px;
  height: 60px;
  background: var(--main-color1);
  border: 1px solid var(--main-color1);
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white);
}

.ButtonSmall {
  width: 335px;
  height: 60px;
  background: var(--main-color1);
  border: 1px solid var(--main-color1)f;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
}

.ButtonLarge:hover,
.ButtonLarge:focus,
.ButtonSmall:hover,
.ButtonSmall:focus {
  /* background: #e06c71; */
  border: 3px solid var(--main-color1-1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}