.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 660px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid var(--color-gray0);
  border-radius: 20px;
}