.loginPage {
  margin: 0 auto;
  margin-top: 120px;
}

/* 이메일 로그인, 소셜 로그인 layout */

.emailLogin, .socialLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginType {
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-gray3);
}

.emailLoginForm {
  margin-bottom: 4rem;
}

.emailLogin::after {
  content: '';
  width: 350px;
  height: 1px;
  margin-top: 4rem;
  margin-bottom: 3rem;
  background: var(--color-gray0);
}

/* 소셜로그인  */

.socialLoginBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.naverLogin, .kakaoLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray2);
  font-family: var(--font-family-lato);
  cursor: pointer;
}

.naverLogin:hover,
.naverLogin:focus,
.kakaoLogin:hover,
.kakaoLogin:focus {
  font-weight: 600;
}

.naverLogin > div,
.kakaoLogin > div{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  background: rgb(12, 199, 84);
}

.kakaoLogin > div {
  background: rgb(255, 231, 77)
}

/* 회원가입링크 */
.joinLink {
  display: block;
  margin-top: 5rem;
  color: var(--color-gray2);
}

.joinLink:hover,
.joinLink:focus {
  position: relative;
  font-weight: bolder;
}

.joinLink:hover::after,
.joinLink:focus::after {
  content: '';
  position: absolute;
  top: 123%;
  left: 3%;
  width: 6rem;
  height: 0.1rem;
  background: var(--color-gray2);
}